/* GLOBAL STYLE */

/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* FONTS */
/* USE THIS INSIDE SRC FOLDER */
@font-face {
    font-family: "Cubao";
    src: url("../assets/fonts/Cubao_Free_Regular.ttf");
}

@font-face {
    font-family: "MontserratXB";
    src: url("../assets/fonts/MontserratAlternates-ExtraBold.ttf");
}

/* COLOR PALLETE
    - #0B2027 - DARK BLUE
    - #F1DABF - CREAMY BROWN
    - #2978A0 - SKY BLUE
 */