* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Cubao";
    src: url("../assets/fonts/Cubao_Free_Regular.ttf");
}

@font-face {
    font-family: "MontserratAltXp";
    src: url("../assets/fonts/MontserratAlternates-ExtraBold.ttf");
}

@font-face {
    font-family: "MontserratAltMed";
    src: url("../assets/fonts/MontserratAlternates-Medium.ttf");
}

body {
    background-color: #F1DABF;
}

.container {
    width: 100%;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFB30F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px 15px 20px;
    z-index: 5;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.nav-links li,  .nav-links a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 12px;
    font-family: 'MontserratAltMed';
}

.nav-icon-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #0B2027;
}

.announcement {
    background-color: #D34E24;
    text-align: center;
    padding: 10px;
    margin-top: 65px;
}

.announcement p {
    font-family: "Cubao";
    color: #F1DABF;
    font-weight: 100;
}

#menu-nav-btn {
    color: #0B2027;
    display: none;
    cursor: pointer;
}

.banner {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.banner img {
    width: 100%;
}

.banner-txt {
    position: absolute;
    top: -5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-txt img {
    width: 50%;
}

.sub-desc {
    font-family: 'MontserratAltMed';
    text-align: center;
    width: 30%;
    color: #F1DABF;
}

.appointment-btn {
    background-color: #D34E24;
    text-decoration: none;
    color: #F1DABF;
    font-family: 'MontserratAltMed';
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 800;
    border-bottom: 8px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.in {
    background-color: #D34E24;
    border: 2px solid #0B2027;
    border-radius: 20px;
    padding: 5px;
    color: #F1DABF;
}

.stickers {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #F1DABF;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.sticker {
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.sticker-title {
    color: #0B2027;
    font-family: "Cubao";
}

.sticker-desc {
    color: #0B2027;
    font-family: "MontserratAltMed";
    font-size: 12px;
}

.product-page {
    margin-top: 50px;
    width: 100%;
    padding: 20px;
}

.product-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-header p {
    width: 60%;
    text-align: center;
    font-family: "MontserratAltMed";
    font-size: 12px;
}

.product-header img {
    width: 50%;
}

.show-now-btn {
    text-decoration: none;
    font-family: "MontserratAltXp";
    color: #F1DABF;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    border-bottom: 8px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    background-color: #D34E24;
}

.products-list {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    padding: 30px
}

.product {
    width: 230px;
}

.product-img {
    background-color: #D34E24;
    width: 250px;
    height: 350px;
    padding: 10px;
    border-bottom: 8px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.product-img .img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.limited-product {
    background-color: #FFB30F;
}

.limited-product-chip {
    background-color: #D34E24;
}

.product-img .product-categ-chip {
    background-color: #FFB30F;
    width: fit-content;
    padding: 5px 15px 5px 15px;
    font-family: "MontserratAltXp";
    color: #0B2027;
    font-size: 12px;
    border-radius: 20px;
    border: 2px solid #0B2027;
    margin-bottom: 10px;
}

.product-desc {
    margin-top: 10px;
}

.product-desc .name{
    font-family: 'Cubao';
    color: #0B2027;
}

.product-desc .price {
    font-family: 'MontserratAltXp';
    color: #0B2027;
    font-size: 15px;
    margin-bottom: 10px;
}

.product-desc .desc {
    font-family: 'MontserratAltMed';
    color: #0B2027;
    font-size: 10px;
}

.product-button {
    margin-top: 20px;
}

.product-button input{
    outline: none;
    border-bottom: 8px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    font-family: 'MontserratAltMed';
    font-size: 12px;
    font-weight: 800;
}

#buy {
    background-color: #FFB30F;
}

#add-to-cart {
    background-color: #D34E24;
}    

.pet-adopt-page {
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
}

.adopt-banner {
    background-color: #FFB30F;
    color: #007BA7;
    font-family: 'MontserratAltMed';
    text-wrap: nowrap;
    font-weight: 800;
    font-size: 12px;
    padding: 10px;
}

.main-adopt-page {
    width: 100%;
    height: 80vh;
    background-color: #007BA7;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-adopt-page .pets-bg{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.adopt-text{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.adopt-desc {
    font-size: 12px;
    font-family: 'MontserratAltMed';
    color: #F1DABF;
    width: 50%;
    text-align: center;
    font-weight: 100;
}

.adopt-now {
    text-decoration: none;
    font-family: "MontserratAltXp";
    color: #0B2027;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-size: 12px;
    border-bottom: 8px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    background-color: #FFB30F;
}

footer {
    width: 100%;
    height: 30vh;
    padding: 20px;
    background-color: #0B2027;
    color: #F1DABF;
    font-family: 'MontserratAltXp';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

footer p {
    color: #F1DABF;
    font-family: 'MontserratAltMed';
    font-size: 12px;
    font-weight: 800;
    text-align: center;
}

.mobile-nav {
    position: fixed;
    top: 8%;
    z-index: 3;
    width: 100%;
    padding: 20px;
    background-color: #FFB30F;
    display: none;
}

.mobile-nav ul {
    flex-direction: column;
    gap: 30px;
}


@media (max-width: 870px) {
    #menu-nav-btn {
        display: block;
    }

    nav {
        display: none;
    }

    .mobile-nav nav {
        display: block;
    }
    
    .mobile-nav{
        display: none;
    }

    .mobile-nav.open {
        display: block;
    }

    .announcement p {
        font-size: 10px;
    }

    .sub-desc {
        font-size: 12px;
        width: 60%;
    }

    .banner {
        width: 100%;
        height: 40vh;
        position: relative;
        overflow: hidden;
    }    

    .banner-txt {
        width: 80%;
        left: 10%;
        right: 10%;
    }

    .banner img {
        height: 100%;
        width: 100%;
    }

    .product-header img {
        width: 80%;
    }

    .pets-bg {
        display: none;
    }
}

@media (max-width: 877px) {
    .banner-txt {
        width: 60%;
        left: 20%;
        right: 15%;
    }

    .sub-desc {
        width: 100%;
    }

    .appointment-btn {
        font-size: 10px;
    }

    .sticker-title {
        font-size: 25px;
     }
}

@media (max-width: 420px) {
    .banner-txt {
        margin-top: 10px;
        width: 80%;
        left: 10%;
        right: 10%;
    }
    

    .product-header img {
        width: 100%;
    }

    .product-header p {
        width: 100%;
    }

    .adopt-text img {
        width: 80%;
    }


    .adopt-desc {
        width: 80%;
    }
}