* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Cubao";
    src: url("../../assets/fonts/Cubao_Free_Regular.ttf");
}

@font-face {
    font-family: "MontserratAltXp";
    src: url("../../assets/fonts/MontserratAlternates-ExtraBold.ttf");
}

@font-face {
    font-family: "MontserratAltMed";
    src: url("../../assets/fonts/MontserratAlternates-Medium.ttf");
}

body {
    background-color: #F1DABF;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #F1DABF;
}

.container .nav-sidebar {
    height: 100%;
    width: 20%;
    background-color: #0B2027;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-sidebar .nav-header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-sidebar form {
    cursor: pointer;
}

.nav-header img {
    width: 80%;
}

.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.main-nav form {
    cursor: pointer;
}

.link {
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
}

.nav-txt {
    font-family: "MontserratAltXp";
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.nav-icon {
    color: white;
    width: 20px;
}

#logout {
    font-family: "MontserratAltXp";
    color: white;
    font-size: 12px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media (max-width: 950px) {
    .container .nav-sidebar {
        padding-top: 20px;
        gap: 30px;
    }
    .nav-txt {
        display: none;
        justify-content: center;
        gap: 20px;
    }

    #logout {
        display: none;
    }
}

.in {
    background-color: #2978A0;
    border-radius: 0px 10px 10px 0;
    width: 100%;
}

.container .main-container {
   width: 80%;
   margin-left: 20%;
   padding: 40px 20px 20px 20px;
}

.main-container .header-txt {
    font-family: "Cubao";
    font-weight: 100;
    color: #0B2027;
}

.main-container table{
    margin-top: 20px;
    width: 100%;
    background-color: white;
    border: 2px solid #0B2027;

}

.thead td {
    text-align: center;
    background-color: #2978A0;
    color: white;
    font-family: "MontserratAltXp";
}

tr, td {
    padding: 10px;
    font-family: "MontserratAltMed";
    font-size: 12px;
    background-color: white;
}


table input {
    outline: none;
    border: none;
    font-family: "MontserratAltMed";
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
}

table form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#edit {
    background-color: #2978A0;
    color: white;
}

#delete {
    background-color: #AF1818;
    color: white;
}

#logout {
    cursor: pointer;
}

@media (max-width: 890px) {
    table tr, td{
        width: 60%;
        font-size: 8px;
    }

    table input {
        font-size: 8px;
    }

    .header-txt {
        font-size: 20px;
    }

    .edit-modal h1 {
        font-size: 20px;
    }
}

@media (max-width: 713px) {
    table tr, td{
        font-size: 4px;
        padding: 5px;
    }

    table input {
        font-size: 4px;
        padding: 3px;
    }

    .header-txt {
        font-size: 15px;
    }

    .edit-modal h1 {
        font-size: 15px;
    }
} 

@media (max-width: 368px) {
    table tr, td{
        font-size: 2px;
        padding: 3px;
    }

    table input {
        font-size: 2px;
        padding: 3px;
    }

    .header-txt {
        font-size: 10px;
    }

    .edit-modal h1 {
        font-size: 12px;
    }

    .edit-modal {
        width: 80%;
    }
} 

.edit-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgba(02027, 02027, 02027, 0.8);
    color: #0B2027;
    padding: 40px 20px 40px 20px;
    border-radius: 20px;    
    display: none;
}

.edit-modal .header {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.edit-modal h1 {
    font-family: "Cubao";
    font-weight: 100;
}

.edit-modal .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-modal input[id="to-change"] {
    outline: none;
    border: 2px solid #0B2027;
    color: #0B2027;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    width: 80%;
    font-family: "MontserratAltMed";
}



.edit-modal input[type="button"]{
    outline: none;
    border: none;
    background-color: #2978A0;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    font-family: "MontserratAltMed";
    cursor: pointer;
}

.main-container .header {
    display: flex;
    justify-content: space-between;
}

.header .menu-nav {
    margin-right: 10px;
    display: none;
    cursor: pointer;
}


@media (max-width: 890px) {
    table tr, td{
        width: 60%;
        font-size: 8px;
    }

    table input {
        font-size: 8px;
    }

    .header-txt {
        font-size: 20px;
    }

    .edit-modal h1 {
        font-size: 20px;
    }
}

@media (max-width: 713px) {
    table input {
        font-size: 10px;
        padding: 5px;
    }


    .container .nav-sidebar {
        display: none;
    }
    
    .container .nav-sidebar.open {
        display: flex;
    }

    .container .main-container {
        width: 100%;
        margin: 0;
    }

    .header .menu-nav {
        margin-right: 10px;
        display: block;
    }
} 

@media (max-width: 411px) {
    table tr, td{
        font-size: 2px;
        padding: 3px;
    }

    table input {
        font-size: 2px;
        padding: 3px;
    }

    .edit-modal h1 {
        font-size: 12px;
    }

    .edit-modal {
        width: 80%;
    }
} 



